header {
  align-items: center;
  display: flex;
  font-size: 48px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}
header:before {
  background: url(https://newevolutiondesigns.com/images/freebies/pink-wallpaper-5.jpg) no-repeat bottom;
  background-size:cover;
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

header:after {
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  transform: rotateZ(-4deg);
  z-index: 0;
}


.boyfriend-meme{
 width: 40%;
 height: 30%
}

.shadow{
  box-shadow: 120px 80px 40px 20px #0ff;

}

.animate-pop-in {
  animation: pop-in .8s ease-out forwards;
}
.header-title, .header-subtitle {
  color: #fff;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
